{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    
        <div id="about-layout">
            
            <div id="CSL-about">
                <h2 class="title" >Children’s School Lives (CSL)</h2>
                <div id="about-front-page">
                    <img src="{% static 'Images/CSL_logo2_stacked_col_IRISH.jpg' %}"/>
                    <p>
                        Children’s School Lives (CSL) is an exciting new national longitudinal cohort study of primary schooling in Ireland. Launched on October 25th, the study will follow approximately 4,300 children through their primary school years. Using surveys and interviews with children, teachers and parents, as well as classroom observations, this ground-breaking study will provide rich and insightful pictures of children’s experiences in primary schools in Ireland. The study will also show how these experiences both shape and are shaped by schools as communities, institutions, and as a system.

                        Research plays a central role in all NCCA’s curriculum development work at early childhood, primary and post-primary. Children’s experiences, and the perspectives of their teachers, school management and parents on what happens in schools, are an important part of connecting practice with national policy. Aptly titled, Children’s School Lives, the study will inform the NCCA’s work in reviewing and updating the primary curriculum to ensure it continues to provide a strong foundation for teaching and learning. The findings will likely also be useful to schools in reviewing and further developing their own policies and practices.  

                        The study will be carried out by University College Dublin with the first wave of data-gathering due to begin in Q1, 2019.
                    </p>
                </div>
            </div>
            
            <div id="about-extra-box">
                <div id="about-extra-box-div">
                    <h2 class="title" >Children’s School Lives (CSL)</h2>
                    <h4 class="title" id="sub-heading">"National longitudinal cohort study of primary schooling in Ireland"</h4>
                    <div>
                        Children's School Lives is a new longitudinal study commissioned by the National Council for Curriculum and Assessment (NCCA) and conducted by UCD School of Education. The study will explore the lived experiences of children in Irish primary schools from Spring 2019 to Spring 2024, providing Ireland’s first nationally representative study of primary schooling. Following over 4000 children as they transition into, through and out of over 200 primary schools across a 6-year period, the study will involve two age cohorts – those in second class and those in their final year of pre-school in 2019. The study will track and record the children’s progress and explore issues related to their learning, well-being, engagement, diversities and belonging, as well as the factors that influence this in their homes and local communities, in their classrooms and in their schools.  

                        Providing an in-depth and comprehensive overview of policy and practice in our primary schools, this landmark study will will feed directly into the NCCA’s work on curriculum and assessment as well as inform wider educational discourse, policy development and practice. Furthemore, the study will inform the NCCA’s work in reviewing and updating the primary curriculum to ensure it continues to provide a strong foundation for teaching and learning.

                        The study’s core management team includes Professor Dympna Devine (Principal Investigator) and Assistant Professor Jennifer Symonds (Co-PI) along with Assistant Professor Seaneen Sloan (Co- Investigator) and Assistant Professor Deirdre McGillicuddy. The Management and Research teams are further supported by
                    </div>
                    <ul>
                        <li>a Steering Committee</li>
                        <li>a Children’s Advisory Panel</li>
                        <li>an Adult Stakeholder Panel</li>
                        <li>an International Advisory Panel</li>
                    </ul>
                    <div>
                        The study will use a cross-sequential longitudinal design, producing a rich set of mixed methods data. This will be generated through a quantitative multi-informant study involving repeated measures surveys of children, teachers and parents in each school context and a social network analysis across school transition. The qualitative component of the study will involve interviews with children, teachers, parents and grandparents, and ethnographic observation of children’s learning and wellbeing in classroom contexts. The study will also include an extensive set of objective quantitative data such as systematic observation of pedagogy and records of school structures and procedures from school principals and researchers.
                    </div>
                </div>
            </div>
            
            
            <div id="cohorts">
                <h2 class="title">Timeline</h2>
                <table>
                    <caption>Wave of Data Collection</caption>
                    <tr class="default-row-color">
                        <td class="clear-box"></td>
                        <td>Wave 1</td>
                        <td>Wave 2</td>
                        <td>Wave 3</td>
                        <td>Wave 4</td>
                        <td>Wave 5</td>
                        <td>Wave 6</td>
                        <td>Wave 7</td>
                        <td>Wave 8</td>
                    </tr>
                    <tr class="default-row-color">
                        <td class="clear-box"></td>
                        <td>2019</td>
                        <td>2020</td>
                        <td class="clear-box"></td>
                        <td>2021</td>
                        <td>2022</td>
                        <td>2023</td>
                        <td>2024</td>
                        <td class="clear-box"></td>
                    </tr>
                    <tr class="default-row-color">
                        <td class="clear-box"></td>
                        <td>Term 3</td>
                        <td>Term 1</td>
                        <td>Term 3</td>
                        <td>Term 3</td>
                        <td>Term 3</td>
                        <td>Term 3</td>
                        <td>Term 1</td>
                        <td>Term 3</td>
                    </tr>
                    <tr class="row-color">
                        <td>Cohort A</td>
                        <td>Pre-school</td>
                        <td>Junior Infants</td>
                        <td>Junior Infants</td>
                        <td>Senior Infants</td>
                        <td>First Class</td>
                        <td>Second Class</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr class="row-color">
                        <td>Cohort B</td>
                        <td>Second Class</td>
                        <td>-</td>
                        <td>Third Class</td>
                        <td>Fourth Class</td>
                        <td>Fifth Class</td>
                        <td>Sixth Class</td>
                        <td>First Year</td>
                        <td>Second Year</td>
                    </tr>
                    
                </table>
                
                <div id="cohorts-info">
                    <div>
                        <h3>Cohort A</h3>
                        <p>
                            Follows children starting in their final year of preschool as they transition to primary school and through second class.<br>
                            100 primary schools<br>
                            200 preschools<br>
                            7 in depth qualitative study schools
                        </p>
                    </div>
                    
                    <div>
                        <h3>Cohort B</h3>
                        <p>
                            100 primary schools<br>
                            7 in depth qualitative study schools
                        </p>
                    </div>
                </div>
            </div>
            
            <div id="work-packages">
                <h2 class="title">Work packages</h2>
                <img src="{% static 'Images/themes_map.png' %}" />
                <div id="themes">
                    
                    
                    <div>
                        <h3>1 Educational Transitions</h3>
                        <ul>
                            <li>Transfer between schools (all children and “new pupils”)</li>
                            <li>Children’s anticipation of their new schools</li>
                            <li>School support before transfer</li>
                            <li>Children’s initial experiences of their new schools</li>
                            <li>School support after transfer</li>
                            <li>Longer term settling into school</li>
                            <li>Longer term school support for adaptation</li>
                            <li>Major changes in school structures and routines</li>
                            <li>Changes in pedagogy at transfer</li>
                            <li>Impact of transfer on peer networks</li>
                            <li>Impact of transfer on children’s emotional, personal, social and academic functioning</li>
                            <li>Within school transitions</li>
                            <li>Transitions between school structures and routines</li>
                            <li>Impact of within school transitions on children’s emotional, personal, social and academic functioning. 
                            </li>
                        </ul>
                    </div>
                    
                    <div>
                        <h3>2 Inclusion, Participation, and Diversity</h3>
                        <ul>
                            <li>Migrant children’s experience of primary school</li>
                            <li>The experiences of Traveller children</li>
                            <li>Gender differences in primary school experience</li>
                            <li>Social Class and children’s school experience</li>
                            <li>Dis/ability and children’s experiences (aspects of)</li>
                            <li>Divergent family forms and children’s school experience</li>
                            <li>Children’s voice and citizenship in school </li>
                            <li>Leading and teaching for inclusion and diversity – promising practices</li>
                        </ul>
                    </div>
                    
                    <div>
                        <h3>3 School and Teaching Cultures</h3>
                        <ul>
                            <li>Leadership for Learning: life worlds of principals</li>
                            <li>Life worlds of Teachers: values and beliefs</li>
                            <li>Children’s life worlds in primary schools</li>
                            <li>Primary school cultures</li>
                            <li>Classroom climates: pedagogies and teaching cultures</li>
                            <li>The impact of school cultures and children’s learning</li>
                            <li>The impact of classroom climate on children’s learning</li>
                            <li>Typology of educational effectiveness in primary schools – promising practices</li>
                        </ul>
                    </div>
                    
                    <div>
                        <h3>4 Wellbeing and Engagement </h3>
                        <ul>
                            <li>Development of children’s wellbeing and engagement</li>
                            <li>Children’s, parents’, teachers’ and school leaders’ conceptualisations of wellbeing and engagement</li>
                            <li>Children’s, parents’, teachers’ and school leaders’ perceptions of change in wellbeing and engagement</li>
                            <li>Main educational, personal and social factors that impact change in wellbeing and engagement</li>
                        </ul>
                    </div>
                    
                    <div>
                        <h3>5 Learning Outcomes</h3>
                        <ul>
                            <li>Development of attainment for the whole sample, minority groups and across transitions</li>
                            <li>Explanation of the variance in attainment at individual time points</li>
                            <li>Main predictors of change in attainment</li>
                            <li>Children’s, parents’, teachers’ and school leaders’ perceptions of attainment & supporting practices</li>
                            <li>Wider cultural factors impacting attainment</li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            
            <div id="ethics-GDPR">
                <h2 class="title">Ethics & GDPR</h2>
                <div>
                    <h3>Child Safeguarding</h3>
                    <p>
                        Researchers who as part of a research project may or will come in to direct and/or regular contact with children or vulnerable groups covered by the Children First Act (2015) and National Vetting Bureau (Children and Vulnerable Persons) Acts (2012-2016), will make the necessary arrangements to be legally compliant.
                        <br>
                        This research has been approved by the UCD Human Research Ethics Committee. It is also compliant with strict General Data Protection Regulations (GDPR) that protect the identity of schools, parents, teachers, school principals and children who are involved in the study. All members of the research team will be Garda Vetted and may engage in the Children First E-Learning Programme. This training is not a requirement of the CSL project, at present however, if the fieldworker feels that this training is of benefit the E-Learning Programme will be provided to the fieldworker/s. All members of the research team, including fieldworkers, will receive appropriate training in UCD policies and procedures relating to data handling and security.

                    </p>
                </div>
                
                <div>
                    <h3>Garda vetting</h3>
                    <p>
                        All fieldworkers and Children’s School Lives Staff have undergone Garda vetting.  Garda Vetting is part of UCD’s recruitment process for certain posts and education programmes which require staff and students to undertake activities that will bring them into unsupervised contact with children or vulnerable adults and in which they will assume positions of trust. The Garda vetting policy for staff can be found at:
                        <a href="https://www.ucd.ie/hr/t4cms/Garda_Vetting_Policy.pdf">Garda Vetting Policy</a>

                    </p>
                </div>
                
                <div>
                    <h3>Child’s consent to participate</h3>
                    <p>
                        All children are verbally asked at the beginning of their interview or workshop: “Do you agree that we can use your answers?”.<b>This will not be skipped.</b> 

                    </p>
                </div>
                
                <div>
                    <h3>Child Safeguarding</h3>
                    <p>
                        A child may get upset about issues which emerge during the data collection. If this occurs, a two-step approach will be adopted: 
                    </p>
                    <ul>
                        <li>If a child becomes upset during the completion of the EGRA or well-             being questionnaire, they will be reassured of confidentiality and provided with a number of options. These include giving time- out from taking the test, offering to speak with them privately, asking them if they would like to speak with someone else and providing them with the option of withdrawing from completing the questionnaire/test at that time. 
                        </li>
                        <li>
                            The second stage will involve informing the appropriate personnel about the child’s distress. This could be the teacher, head teacher or the Concern Worldwide team, who will then inform the parent/ guardian, but care should be taken not to reveal the particulars of what was being spoken about, unless there is sufficient concern that the child is in danger, in order not to break the researcher trust or confidentiality. Here too, the child should be given the option to withdraw from the study.

                        </li>
                    </ul>
                </div>
                
                 <div>
                    <h3>Parent Consent</h3>
                    <p>
                       Parents/guardians will have given consent to the attendance, attainment and POD data being shared with the CSL project. For any child who does not have their parent’s consent their information will be removed from the printed sheets before leaving school premises. Parents/guardians are to provide a signed consent form indicating that they agree to their child’s data being used as part of this study. The workshop will be given to all children in the class. All the booklets will be collected at the end of the day however, only those child booklets those parents have given consent can be taken off the school premise.
                    </p>
                </div>
                
                <div>
                    <h3>Data Protection</h3>
                    <p>
                       <b>Data management anonymity</b><br>
The study has been approved by the UCD Human Research Ethics Committee. All data
provided by participants in your school will be treated with the strictest confidence.
Individual school and participant names will be removed from all data and replaced with
an ID code, and stored on a secured UCD server accessible only by the research team
through password protected computers. Furthermore, all data will be protected in
accordance with GDPR guidelines. We will seek parental consent for any data collected
on their child. No individual school nor child will be identifiable in the study outcomes.
 
                    </p>
                    
                </div>
                
                
            </div>
        
                        
        </div>
    
{% endblock %}
