{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    
        <div id="about-layout">
            
            <div id="CSL-about">
                <h2 class="title" >Children’s School Lives (CSL)</h2>
                <div id="about-front-page">
                    <img src="{% static 'Images/CSL_logo2_stacked_col_IRISH.jpg' %}"/>
                    <p>
                        Children’s School Lives (CSL) is an exciting new national longitudinal cohort study of primary schooling in Ireland. Launched on October 25th, the study will follow approximately 4,300 children through their primary school years. Using surveys and interviews with children, teachers and parents, as well as classroom observations, this ground-breaking study will provide rich and insightful pictures of children’s experiences in primary schools in Ireland. The study will also show how these experiences both shape and are shaped by schools as communities, institutions, and as a system.

                        Research plays a central role in all NCCA’s curriculum development work at early childhood, primary and post-primary. Children’s experiences, and the perspectives of their teachers, school management and parents on what happens in schools, are an important part of connecting practice with national policy. Aptly titled, Children’s School Lives, the study will inform the NCCA’s work in reviewing and updating the primary curriculum to ensure it continues to provide a strong foundation for teaching and learning. The findings will likely also be useful to schools in reviewing and further developing their own policies and practices.  

                        The study will be carried out by University College Dublin with the first wave of data-gathering due to begin in Q1, 2019.
                    </p>
                </div>
            </div>
            
            <div id="about-extra-box">
                <div id="about-extra-box-div">
                    <h2 class="title" >Children’s School Lives (CSL)</h2>
                    <h4 class="title" id="sub-heading">"National longitudinal cohort study of primary schooling in Ireland"</h4>
                    <div>
                        Children's School Lives is a new longitudinal study commissioned by the National Council for Curriculum and Assessment (NCCA) and conducted by UCD School of Education. The study will explore the lived experiences of children in Irish primary schools from Spring 2019 to Spring 2024, providing Ireland’s first nationally representative study of primary schooling. Following over 4000 children as they transition into, through and out of over 200 primary schools across a 6-year period, the study will involve two age cohorts – those in second class and those in their final year of pre-school in 2019. The study will track and record the children’s progress and explore issues related to their learning, well-being, engagement, diversities and belonging, as well as the factors that influence this in their homes and local communities, in their classrooms and in their schools.  

                        Providing an in-depth and comprehensive overview of policy and practice in our primary schools, this landmark study will will feed directly into the NCCA’s work on curriculum and assessment as well as inform wider educational discourse, policy development and practice. Furthemore, the study will inform the NCCA’s work in reviewing and updating the primary curriculum to ensure it continues to provide a strong foundation for teaching and learning.

                        The study’s core management team includes Professor Dympna Devine (Principal Investigator) and Assistant Professor Jennifer Symonds (Co-PI) along with Assistant Professor Seaneen Sloan (Co- Investigator) and Assistant Professor Deirdre McGillicuddy. The Management and Research teams are further supported by
                    </div>
                    <div>
                        <li>a Steering Committee</li>
                        <li>a Children’s Advisory Panel</li>
                        <li>an Adult Stakeholder Panel</li>
                        <li>an International Advisory Panel</li>
                    </div>
                    <div>
                        The study will use a cross-sequential longitudinal design, producing a rich set of mixed methods data. This will be generated through a quantitative multi-informant study involving repeated measures surveys of children, teachers and parents in each school context and a social network analysis across school transition. The qualitative component of the study will involve interviews with children, teachers, parents and grandparents, and ethnographic observation of children’s learning and wellbeing in classroom contexts. The study will also include an extensive set of objective quantitative data such as systematic observation of pedagogy and records of school structures and procedures from school principals and researchers.
                    </div>
                </div>
            </div>
            
            
            <div id="cohorts">
                <h2 class="title">Timeline</h2>
                <table>
                    <caption>Wave of Data Collection</caption>
                    <tr class="default-row-color">
                        <td class="clear-box"></td>
                        <td>Wave 1</td>
                        <td>Wave 2</td>
                        <td>Wave 3</td>
                        <td>Wave 4</td>
                        <td>Wave 5</td>
                        <td>Wave 6</td>
                        <td>Wave 7</td>
                        <td>Wave 8</td>
                    </tr>
                    <tr class="default-row-color">
                        <td class="clear-box"></td>
                        <td>2019</td>
                        <td>2020</td>
                        <td class="clear-box"></td>
                        <td>2021</td>
                        <td>2022</td>
                        <td>2023</td>
                        <td>2024</td>
                        <td class="clear-box"></td>
                    </tr>
                    <tr class="default-row-color">
                        <td class="clear-box"></td>
                        <td>Term 3</td>
                        <td>Term 1</td>
                        <td>Term 3</td>
                        <td>Term 3</td>
                        <td>Term 3</td>
                        <td>Term 3</td>
                        <td>Term 1</td>
                        <td>Term 3</td>
                    </tr>
                    <tr class="row-color">
                        <td>Cohort A</td>
                        <td>Pre-school</td>
                        <td>Junior Infants</td>
                        <td>Junior Infants</td>
                        <td>Senior Infants</td>
                        <td>First Class</td>
                        <td>Second Class</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr class="row-color">
                        <td>Cohort B</td>
                        <td>Second Class</td>
                        <td>-</td>
                        <td>Third Class</td>
                        <td>Fourth Class</td>
                        <td>Fifth Class</td>
                        <td>Sixth Class</td>
                        <td>First Year</td>
                        <td>Second Year</td>
                    </tr>
                    
                </table>
                
                <div id="cohorts-info">
                    <div>
                        <h3>Cohort A</h3>
                        <p>
                            Follows children starting in their final year of preschool as they transition to primary school and through second class.<br>
                            100 primary schools<br>
                            200 preschools<br>
                            7 in depth qualitative study schools
                        </p>
                    </div>
                    
                    <div>
                        <h3>Cohort B</h3>
                        <p>
                            100 primary schools
                            7 in depth qualitative study schools
                        </p>
                    </div>
                </div>
            </div>
            
            <div id="work-packages">
                <h2 class="title">Work packages</h2>
                <div class="coming-soon-box"><h2>COMING SOON</h2></div>
            </div>
            
            <div id="ethics-GDPR">
                <h2 class="title">Ethics & GDPR</h2>
                <div class="coming-soon-box"><h2>COMING SOON</h2></div>
            </div>
        
                        
        </div>
    
{% endblock %}
