{% load staticfiles %}
<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>Children’s School Lives</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans|Open+Sans+Condensed:300|Rajdhani" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static '/Images/CSL_logo2_stacked_colour.jpg' %}" rel="icon">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
    </head>
    <body>
        <header>
            <img src="{% static '/Images/CSL_logo2_stacked_colour.jpg' %}"/>
            <div id="menu">
                <span class="menu-item" id="NAP-menu-tab">
                    <a href="/NewsAndPublications">News & Publications</a>
                    <div id="news-and-publications-dropdown" class="dropdown-info">
                        <a href="">Press Release</a>
                        <a href="">Launch</a>
                        <a href="">DD Irish Times Article</a>
                    </div>
                </span>
                <span class="menu-item" id="IFR-menu-tab">
                    <a href="/InformationforResearchers">Information for Researchers</a>
                    <div id="info-for-researchers-dropdown" class="dropdown-info">
                        <a href="">New Data Release</a>
                        <a href="">Questionnaires</a>
                        <a href="">Qualitative Data</a>
                        <a href="">Accessing CSL Data</a>
                        <a href="">Data Manuals and Technical Reports</a>
                        <a href="">Data Confidentiality</a>
                        <a href="">Useful Links for Researchers</a>
                    </div>
                </span>
                <span class="menu-item" id="IFP-menu-tab">
                    <a href="/InformationforParticipants">Information for Participants</a>
                    <div id="info-for-participants-dropdown" class="dropdown-info">
                        <a href="">Participant Information Leaflets</a>
                        <a href="">What to expect</a>
                        <a href="">Update Contact Information with CSL</a>
                        <a href="">Data Confidentiality</a>
                        <a href="">Privacy Statement</a>
                    </div>
                </span>
                <span class="menu-item" id="about-menu-tab">
                    <a href="/about">About</a>
                    <div id="about-dropdown" class="dropdown-info">
                        <a href="">Children’s School Lives</a>
                        <a href="">Meet the Team</a>
                        <a href="">Themes</a>
                        <a href="">Cohorts</a>
                        <a href="">Child Safeguarding</a>
                        <a href="">Partners</a>
                        <a href="">Governance & Consultation</a>
                        <a href="">Employment Opportunities</a>
                        <a href="">Contact</a>
                        <a href="">Media </a>
                    </div>
                </span>
                <span class="menu-item">
                    <a href="/">Home</a>
                </span>
            </div>
        </header>
        
        {% block content %}
        {% endblock %}
        
        <footer>
            <div class="bottom-gradient"></div>
            <div id="footer-top-box">
                <div>
                     <img src="{% static '/Images/CSL_Twitter%20Profile_2.jpg' %}" id="footer-logo" id="footer-logo">
                </div>
                
                <div class="footer-info-box">
                    <h3>Address</h3>
                    <p>
                        University College Dublin<br>
                        School of Education<br>
                        Roebuck Offices<br>
                        Belfield, Dublin 4<br>
                        Ireland
                    </p>
                </div>
                
                <div class="footer-info-box">
                    <h3>Contact</h3>
                    <p>Tel: +353 ........</p>
                </div>
                
                <div class="footer-info-box">
                    <h3>Email</h3>
                    <p>csl@ucd.ie<br>
                        cslpreschools@ucd.ie
                    </p>
                </div>
                
                <div id="footer-social">
                    <a href="@CSLstudyUCD"><i class="fab fa-twitter" ></i></a>
                </div>
            </div>
            
            <div id="footer-images">
                <img src="{% static '/Images/ucd-logo.png' %}">
                <img src="{% static '/Images/NCCA-logo.png' %}">
                <img src="{% static '/Images/govOfIreland.png' %}">
            </div>
            
            <div id="footer-bottom">
                <div id="footer-copyright">
                    <h4>Children’s School Lives &copy 2019</h4>
                </div>
            </div>
            
        
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="{% static '/Script/script.js' %}"></script>
        <script src="{% static '/Script/script1.js' %}"></script>
    </body>
</html>
