{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
        
            <div id="participant-information-leaflets">
            
            </div>
            
            <div id="what-to-expect">
            
            </div>
            
            <div id="update-contact-information-with-CSL">
            
            </div>
            
            <div id="data-confidentiality">
            
            </div>
            
            <div id="privacy-statement">
            
            </div>
    
            
{% endblock %}
