{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

            <div id="new-data-release">
            
            </div>
            
            <div id="questionnaires">
            
            </div>
            
            <div id="qualitative-data">
            
            </div>
            
            <div id="accessing-CSL-data">
            
            </div>
            
            <div id="data-manuals-and-technical-reports">
            
            </div>
            
            <div id="data-confidentiality">
            
            </div>
            
            <div id="useful-links-for-researchers">
            
            </div>
    
            
{% endblock %}
