{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

        
            <div id="participant-information">
                <h2 class="title">Participant information</h2>
                <div class="coming-soon-box"><h2>COMING SOON</h2></div>
            </div>
            
            <div id="what-to-expect">
                <h2 class="title">What to expect</h2>
                <div class="coming-soon-box"><h2>COMING SOON</h2></div>
            </div>
            
            <div id="update-contact-information-with-CSL">
                <h2 class="title">Update contact information with CSL</h2>
                <div class="coming-soon-box"><h2>COMING SOON</h2></div>
            </div>
    
            
{% endblock %}
