{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    
    
        <div class="natural-block" style="width:100%;">
            
        </div>
        
        <div id="press-release">
            <h2 class="title">Press Release</h2>
            <div class="coming-soon-box"><h2>COMING SOON</h2></div>
        </div>
        
            <div id="launch" class="main-body-content-div">
                <h2 class="title">Launch</h2>
                <div class="image-text">
                    <img src="{% static 'Images/pic_one.JPG' %}" alt="Prof Colin Scott, Vice President for Equality, Diversity and Inclusion and  Principal ; College of Social Sciences and Law; Assist. Prof Jennifer Symonds (Co-PI); Prof Mark Rogers, Deputy President and Registrar UCD;  Ms Brigid McManus, Chairperson NCCA and Prof Dympna Devine (PI)"/>
                    <p>
                        The landmark Children’s School Lives longitudinal cohort study was launched on Thursday October 25th in the new Confucius Institute in University College Dublin. This national cohort study of children’s lives in primary school is being led by  Professor Dympna Devine and Assistant Professor Jennifer Symonds in UCD School of Education. The study will follow the lives of 4,300 children as they progress through their primary schooling years. Prioritising children’s voice and experience, and drawing on a range of mixed methodologies this ground-breaking study will provide rich insights into the everyday lives of children in our primary schools as they transition through the system.  The study will also explore how these experiences both shape and are shaped by schools as communities, institutions, and as a system.
                    </p>
                </div>
                
                <div class="image-text">
                    <p>
                        The landmark Children’s School Lives longitudinal cohort study was launched on Thursday October 25th in the new Confucius Institute in University College Dublin. This national cohort study of children’s lives in primary school is being led by  Professor Dympna Devine and Assistant Professor Jennifer Symonds in UCD School of Education. The study will follow the lives of 4,300 children as they progress through their primary schooling years. Prioritising children’s voice and experience, and drawing on a range of mixed methodologies this ground-breaking study will provide rich insights into the everyday lives of children in our primary schools as they transition through the system.  The study will also explore how these experiences both shape and are shaped by schools as communities, institutions, and as a system
                    </p>
                    <img src="{% static 'Images/pic_two.JPG' %}" class="launch-img"/>
                </div>
                
                <div class="image-text">
                    <img src="{% static 'Images/pic_three.JPG' %}" class="launch-img" id="launch-img-one"/>
                    <p>
                        The launch was attended by a range of stakeholders and academics working across the education system. Children were very much at the centre of activities, with 2nd class children from St. Colmcille’s Junior National School in Knocklyon performing a poem they wrote for the occasion and with St Thomas’ Senior National School in Jobstown, Tallaght sending a video capturing their lives in school. Asst. Prof Deirdre McGillicuddy, Co-investigator,  stated that this was particularly apt as children are at the core of the work of CSL.

                        The launch seminar was led by Asst. Prof Jennifer Symonds, Co-Principal Investigator.  She provided a detailed overview of the study design and the methodologies at the heart of the study. Asst. Prof Seaneen Sloan, Co-Investigator,  welcomed Prof Maurice Galton, University of Cambridge and Prof Anne Trine Kjorholt, Norwegian Centre for Child Research, who contextualised the study in light of international research and highlighted the potential international impact of the research at the intersection of studies of childhood and schooling.

                        The study has been funded by the National Council for Curriculum and Assessment (NCCA) and will inform the NCCA’s work in reviewing and updating the primary curriculum to ensure it continues to provide a strong foundation for teaching and learning. The findings will likely also be useful to schools in reviewing and further developing their own policies and practices.  
                    </p>
                </div>
                
                <div class="text-box">
                    <h4>To get involved or to request further information get in touch with the team at <a href="csl@ucd.ie">csl@ucd.ie</a>.</h4>
                </div>
            
            </div>

            <div id="news">
                <div class="body-div" id="news-div">
                    <h2 class="title">News</h2>
                    <div class="news-articles">
                        
                        <div class="news-article">
                            <img src="{% static 'Images/news-bg2.jpg' %}"/>
                            <div class="news-article-info-box">
                                <h4>Independent Article</h4>
                            </div>
                            <i class="far fa-newspaper news-icon"></i>
                            <div class="title-view">
                                <h4>Study of 4,300 primary pupils...</h4>
                                <a href="https://www.independent.ie/irish-news/education/study-of-4300-primary-pupils-to-gain-insights-about-improving-curriculum-37460366.html">Read more...</a>
                            </div>
                            <div class="news-overlay"></div>
                        </div>
                        
                        <div class="news-article">
                            <img src="{% static 'Images/news-bg2.jpg' %}"/>
                            <div class="news-article-info-box">
                                <h4>Irishtimes Article</h4>
                            </div>
                            <i class="fas fa-newspaper news-icon"></i>
                            <div class="title-view">
                                <h4>What impact is ‘hot housing’...</h4>
                                <a href="https://www.irishtimes.com/news/education/what-impact-is-hot-housing-having-on-children-in-school-today-1.3675673">Read more...</a>
                            </div>
                            <div class="news-overlay"></div>
                        </div>

                         <div class="news-article">
                            <img src="{% static 'Images/news-bg2.jpg' %}"/>
                            <div class="news-article-info-box">
                                <h4>Independent Article</h4>
                            </div>
                            <i class="far fa-newspaper news-icon"></i>
                            <div class="title-view">
                                <h4>Study of 4,300 primary pupils...</h4>
                                <a href="https://www.independent.ie/irish-news/education/study-of-4300-primary-pupils-to-gain-insights-about-improving-curriculum-37460366.html">Read more...</a>
                            </div>
                            <div class="news-overlay"></div>
                        </div>
                        
                        <div class="news-article">
                            <img src="{% static 'Images/news-bg2.jpg' %}"/>
                            <div class="news-article-info-box">
                                <h4>Irishtimes Article</h4>
                            </div>
                            <i class="fas fa-newspaper news-icon"></i>
                            <div class="title-view">
                                <h4>What impact is ‘hot housing’...</h4>
                                <a href="https://www.irishtimes.com/news/education/what-impact-is-hot-housing-having-on-children-in-school-today-1.3675673">Read more...</a>
                            </div>
                            <div class="news-overlay"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        
        <div id="publications">
            <h2 class="title">Publications</h2>
            <div class="coming-soon-box"><h2>COMING SOON</h2></div>
        </div>
        
            
{% endblock %}
