{% extends 'base.html' %}
{% load staticfiles %}
{% load customfilters %}
{% block content %}    
        
        <div id="staff">
            <div class="body-div" id="staff-div">
                <h2 class="title">Staff</h2>
                <div id="staff-profiles">
                    
                    {% for employee in Employess %}
                    <div class="staff-profile">
                        <div>
                            <img src="{{ employee.profile_pic.url }}"/>
                            <h4 class="staff-name">{{ employee.first_name }} {{ employee.last_name}}</h4>
                            <h4 class="staff-job">{{ employee.job_title }}</h4>
                        </div>
                        <div class="staff-about">
                            <p>
                                {{ employee.employee_about_area }}
                            </p>
                        </div>
<!--
                        <i class="fab fa-linkedin linkedin"></i><br>
                        <button>Contact</button>
-->
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        
        <div id="advisors">
            <h2 class="title">Advisors</h2>
        </div>

        <div id="recruitment" class="main-body-content-div">
<!--            <img src="../Images/rec-bg.jpg" />-->
            <div class="body-div" id="recruitment-div">
                <h2 class="title">Recruitment</h2>

<!--
                <div id="recruitment-empty">
                    <h2 class="title">Sorry there seems to be no jobs available</h2>
                    <h5>Sign up to recieve an email when new jobs become available</h5>
                    <form>
                        <input type="text">
                        <button>JOIN</button>
                    </form>
                </div>
-->
                {% for job in jobposts %}

                <div id="recruitment-container">
                    <div class="recruitment-box">
                        <div class="recruitment-details-box">
                            <div class="job-logo">
                                <div class="job-initials">{{ job.title|InitialCreator}}</div>
                            </div>
                            <div class="role-date">
                                <h3>{{ job.title }}</h3>
                                <h5>Closing Date: {{ job.data_post_expires }} </h5>
                            </div>
                            <div class="job-location">
                                <h3>Location</h3>
                                <h5>{{ job.location }}</h5>
                            </div>
                            <div class="about-requirements">
                                {% with jobabout="about"|add:job.id %}
                                {% with "requirements"|add:job.id as jobrequirements %}
                                <button class="job-about" data-key="{{ job.id|About }}">About</button>
                                <button class="job-requirements" data-key="{{ job.id|Requirements }}">Requirements</button>
                            </div>
                        </div>
                        
                        <div class="recruitment-about" data-key="{{ job.id|About }}">
                            <h3>About</h3>
                            <p>
                                {{ job.about }}
                            </p>
                        </div>
                        
                        <div class="recruitment-about" data-key="{{ job.id|Requirements }}">
                            <h3>Requirements</h3>
                            <p>
                               {{ job.requirements }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% endwith %}
                {% endfor %}
                
            </div>
        </div>

{% endblock %}
